/*
!/resource
!/resources
!/mods
!/src
!/mcmod.info
!/build.xml

src/minecraft/*
!src/minecraft/net

src/minecraft/net/*
!src/minecraft/net/machinemuse

!src/minecraft/net/minecraft

src/minecraft/net/minecraft/*
!src/minecraft/net/minecraft/src/

src/minecraft/net/minecraft/src/*
!src/minecraft/net/minecraft/src/ModelPlayer.java

resources/*
!resources/machinemuse